// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.place_img * {
	height: 160px;
	width: 300px;
	clear: both;
	margin: 20px
}